* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
  }

  body {
    overflow: hidden;
  }

  #heroSection {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: black;
    background: linear-gradient(135deg, #000000, #1c1c1c);
    display: flex;
    justify-content: center;
    align-items: end;
    transition: background 0.5s ease-in-out;
  }

  #heroSection button {
    padding: 16px 30px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, background 0.4s ease,
      box-shadow 0.3s ease;
    letter-spacing: 1px;
  }

  #heroSection button:hover {
    transform: scale(1.08);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  }